* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 62.5%;
}

.hidden {
  display: none !important;
}

.winner {
  width:100vw;
  height: 100vh;
  position: absolute;
  text-align: center;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

h1 {
  font-size: 4rem;
  color: #fff;
}

button {
  border: .1rem solid #ccc;
  padding: 1rem 2rem;
  font-size: 2rem;
  text-transform: uppercase;
  color: #fff;
  background: none;
}

button:focus {
  background: #fff;
  color: #000;
}